.solrtPanel {
  display: flex;
  width: 100%;
  padding: 10px 0;
  padding-left: 10px;
  height: 30px;
  align-items: center;

  select {
    height: 30px;
    font-size: 15px;
    margin: 0 10px;
    padding: 0 10px;
    border: 0;
    background: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  option {
    font-size: 15px;
  }
}
