.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.loading {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}


.error {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: red;
}
