.repository {
  display: flex;
  flex-direction: column;
  padding: 10px;
  h2 {
    text-align: center;
    a {
      color: #444;
      font-weight: 600;
    }
  }
}

.data {
  display: flex;
}

.section {
  margin-right: 10px;
  width: 100%;
  flex: 1;
}
