.card {
  cursor: pointer;
  position: relative;
  display: flex;
  flex: 1 0 40%;
  margin: 16px;
  overflow: hidden;
  transition: .3s all;
  max-height: 360px;

  &:hover {
    box-shadow: 0 2.5rem 5rem -1.65rem rgba(0, 0, 0, .175);
    .name {
      text-decoration: underline;
    }
  }

  & > * {
    padding-bottom: 5px;
  }
}

.fork {
  position: absolute;
  top: 20px;
  right: 20px;
}

@media (max-width: 900px) {
  .card {
    flex-basis: 100%;
    margin: 20px 10px;
  }
}


@media (min-width: 1600px) {
  .card {
    flex-basis: 25%;
  }
}

.container {
  background-color: #fff;
  box-shadow: 0 3rem 5rem -2rem rgba(0, 0, 0, .1);
  display: flex;
  flex-direction: column;
  padding: 3.5rem 3em;
  transition: box-shadow .4s;
  width: 100%;
}

.name {
  color: #0366d6;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.description {
  color: #586069;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  font-size: 14px;
  padding-bottom: 10px;
}

.bottom {
  width: 100%;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 990px) {
  .bottom {
    flex-direction: column;
    & > * {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 1080px) {
  .bottom {
    font-size: 14px;
  }
}

.language {
  span {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: #f34b7d;
  }
}
