.card {
  padding: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: transparent;
  transition: .3s all;
}

.card:hover {
  border-color: #999;
  background-color: #ededed;
}

.card > * {
  padding-bottom: 5px;
}

.name {
  font-weight: 700
}
