.top {
  position: fixed;
  display: flex;
  width: 100%;
  height: 65px;
}

.app {
  display: flex;
  flex-direction: column;
	padding-top: 65px;
	min-height: 100%;
	width: 100%;
  height: 100vh;
  overflow: hidden;
}

.loadMore {
  width: 10rem;
  height: 2rem;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #0057ff;
}

.loadingWrapper {
  height: 100%;
}

.loading {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.error {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: red;
}
