.filterPanel {
  width: 250px;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  & > * {
    margin: 10px 0;
  }
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;

  label {
    width: 95px;
    font-size: 14px;
    margin-right: 10px;
  }

  select,
  input {
    height: 30px;
    width: 100%;
    max-width: 185px;
    border-radius: 0;
    border: 0;
    background: #f6f7fb;
    padding: 0 10px;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 14px;
  }
  option {
    font-size: 14px;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
